
.logIn {
  padding: 2rem;
}

h1{
    text-align:center;
    font-size: 40px;
}

body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    /*width: 100%;*/
  }
  
  button:hover {
    opacity: 0.8;
  }

  .createAccount{
    width: auto;
    padding: 10px 18px;
    background-color: #36bef4;
  }

  .dropdown-select {
    position: relative;
  }

  .dropdown-select button:focus + .dropdown-select-menu, .dropdown-select button:hover {
    opacity: 1;
    pointer-events: all;
  }

  .dropdown-select .dropdown-select-menu {
    pointer-events: none;
    padding: 1rem;
    background: white;
    z-index: 1000;
    position: absolute;
    opacity: 0;
    box-shadow: 0 4px 20px rgba(0,0,0,0.15);
    top: 100%;
    right: 0;
    border-radius: 5px;
  }